h1 {
  margin-top: 0px;
  font-size: 500%;
}
button {
  height: 70px;
  width: 70px;
  background-color: azure;
  border-color: grey;
  margin-bottom: 30px;
}

.flex-container {
  padding: 50px;
  border: 30px solid;
}
#option1 {
  background-color: red;
  border: solid 7px;
  border-color: rgb(116, 2, 2);
}
